<ul>
  <p title="<%= " Category: #{item.category}" if item.category.present? %>">
    <div class="items">
      <div data-table-url-value="/deals?item_name=<%= item.name %>"
           data-table-columns-value="<%= Purchase.js_columns %>"
           data-controller="table">
        <div data-table-target="container" id="table_for_item_id_<%= item.id %>"></div>
      </div>
    </div>
  </p>
</ul>