<details>
  <summary title="Click for export options">Menu [+]</summary>
  <div class="flex">
    <button class="m-1" data-action="table#downloadCSV">Download CSV</button>
    <button class="m-1" data-action="table#downloadJSON">Download JSON</button>
    <button class="m-1" data-action="table#downloadXLSX">Download XLSX</button>
    <button class="m-1" data-action="table#downloadPDF">Download PDF</button>
    <button class="m-1" data-action="table#downloadHTML">Download HTML</button>
  </div>
</details>