<button class="m-1" data-action="table#downloadHTML">Download HTML</button>

<div class="partial-footer">
  <!-- These scripts are for exporting tables -->
  <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
</div>