<div class="flex justify-apart">
  <p>
    <%= link_to "Home" , root_path %>
  </p>
  <p>
    <%= link_to "Shopping List" , shopping_list_path %>
  </p>
  <p>
    <%= link_to "Best Deals" , deals_path %>
  </p>
  <p>
    <%= link_to "All Prices" , summary_path %>
  </p>
</div>